[Unit]
Description=Serman AirFlow service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/rusttm/PycharmProjects/CAP/AIR/start_air_web_ub.sh

[Install]
WantedBy=multi-user.target