[Unit]
Description=Serman CAP service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/home/rusttm/PycharmProjects/CAP/CAPMain/cap_ubuntu.sh

[Install]
WantedBy=multi-user.target